
body {
  margin: 0;
  padding: 0;
}

*{
    box-sizing: border-box;

}
.page{
    width:100%;
    height: 100%;
    padding: -100px;
}
.top-layer, .layer-2, .layer-3, .bottom-layer{
    display: flex;
    flex-direction: column;
    flex-basis: 1;
    width: max-content;
    background-color:#1F2937;
    height: 500px;
    width: 100%;
    margin: 0px;
    padding:0px;
    border: 0px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.top-layer{
    margin-top: 0px;
    padding-top:0px;
}
.container{
    padding: 350px;
    height: 400px;
    padding-top:40px;
    width: 1600px;

}

.top-stuff{
    width: 100%;
}
.header, .header-link, .top-stuff{
    display:flex;
    justify-content: space-between;

    
}

.header{
    align-items: center;
}

.header-link{
    gap:30px;
}

.header-logo{
    font-size: 24px;
    color:#F9FAF8;
    font-weight: 900;
}
li{
    list-style-type: None;
    color: #F9FAF8;
}


.group-images{
    display:flex;
}
.random-images{
    height:155px;
    width: 200px;
}
.shab{
    height:270px;
    width: 300px;
}

.top-stuff{
    height: 300px;
    margin-top: 40px;

    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    
}

.top-text{
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    margin-top: 0px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 30px;
    gap: 8px;
}
.title{
    padding-top: 0px;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 0px;
    margin-top: 0px;
    gap: 0px;
}
.sub-text{
    font-size: 18px;
    color: #e5e7eb;

}


.layer-2{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layer-2 .container{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: top;

}
.random-info{
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;

}
.group-images{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.img-wrapper p {
    text-align: center;
    width: 165px;
}

.layer-3{
    background-color: #e5e7eb;
}

.wrapper-quote{
    display: flex;
    height: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid red;

}
.layer-3 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 270px;
    padding-left:250px;
    padding-right: 375px;

}

/*--.quote-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid blue;
} */

.quote, .author{
    font-size: 36px;
    color: #1F2937;
    align-self: center;
}

.author{
    align-self:flex-end
}

.bottom-layer{
    background-color: #F9FAF8;
}
.bottom-layer .container{
    padding-top: 195px;
    padding-bottom: 195px;
}
.call-action{
    background-color: #3882f6;
    height: 150px;
    padding: 45px;
    padding-top:30px;

    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 25px;

}

.action-text{
    display: flex;
    flex-direction: column;
}

.action-title{
    font-size: 36px;
    color: #F9FAF8;
}
.action-subtext{
    font-size: 18px;
    color: #e5e7eb;
}

p{
    margin: 0px;
    padding: 0px;
}
button{
    background-color: #3882F6;
    color:  #F9FAF8;
    border-radius: 25px;
    border:none;
    width: 120px;
    height: 30px;
    outline: 0px;
}

.button-2{
    border: 1px solid #F9FAF8;
}

footer{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    height: 100px;
    
}
footer p {
    color: #F9FAF8;
    align-self: center;
}
